# Dependencies
node_modules/
.pnpm-store/

# VitePress build output
docs/.vitepress/dist/
docs/.vitepress/cache/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.local

# Deployment
.vercel/
